<% content_for :title, "Home" %>
<div class="container">
  <div class="col-xs-8 center-block">
    <div class="homeintro">
      <img src="images/yoi-logo.jpg" alt="images" />
      <p>Yezdi’s of India will keep the memories of a legendary motorcycle alive. Over the next few months we will travel across the length and breadth of India to bring 10,000 Yezdi stories and motorcycles to life</p>
    </div>
  </div>
</div>
<!-- brand slider -->
<div class="navslider">
  <div class="container">
    <div class="col-xs-8 center-block">
      <div class="yearproducttop-js yearproducttop-css">
        <div><div class="navslider-title">DELUXE</div></div>
        <div><div class="navslider-title">ROADKING</div></div>
        <div><div class="navslider-title">CL11</div></div>
        <div><div class="navslider-title">CLASSIC</div></div>
        <div><div class="navslider-title">175</div></div>
        <div><div class="navslider-title">MONARCH</div></div>
        <div><div class="navslider-title">COLT</div></div>
        <div><div class="navslider-title">MONARCH</div></div>
      </div>
    </div>
  </div>
</div>
<div class="yearproductslider yearproductslider-js">
  <div>
    <div class="yearproduct-content matchheight">
      <div>
        <h6>THE YEZDI</h6>
        <h2>FAMILY</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Duis aute irure dolor in reprehenderit.</p>
        <a href="#" class="button">EXPLORE BIKES <i class="fa fa-angle-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div>
    <div class="yearproduct matchheight">
      <h2>1962</h2>
      <img src="images/yezdi-bike1.png" alt="images" />
      <h4>DELUXE</h4>
      <%= link_to "VIEW SPECS", specs_path %>
    </div>
  </div>
  <div>
    <div class="yearproduct matchheight">
      <h2>1964</h2>
      <img src="images/yezdi-bike2.png" alt="images" />
      <h4>ROADKING</h4>
      <%= link_to "VIEW SPECS", specs_path %>
    </div>
  </div>
  <div>
    <div class="yearproduct matchheight">
      <h2>1962</h2>
      <img src="images/yezdi-bike1.png" alt="images" />
      <h4>DELUXE</h4>
      <%= link_to "VIEW SPECS", specs_path %>
    </div>
  </div>
  <div>
    <div class="yearproduct matchheight">
      <h2>1962</h2>
      <img src="images/yezdi-bike1.png" alt="images" />
      <h4>DELUXE</h4>
      <%= link_to "VIEW SPECS", specs_path %>
    </div>
  </div>
  <div>
    <div class="yearproduct matchheight">
      <h2>1962</h2>
      <img src="images/yezdi-bike1.png" alt="images" />
      <h4>DELUXE</h4>
      <%= link_to "VIEW SPECS", specs_path %>
    </div>
  </div>
  <div>
    <div class="yearproduct matchheight">
      <h2>1962</h2>
      <img src="images/yezdi-bike2.png" alt="images" />
      <h4>DELUXE</h4>
      <%= link_to "VIEW SPECS", specs_path %>
    </div>
  </div>
  <div>
    <div class="yearproduct matchheight">
      <h2>1962</h2>
      <img src="images/yezdi-bike1.png" alt="images" />
      <h4>DELUXE</h4>
      <%= link_to "VIEW SPECS", specs_path %>
    </div>
  </div>
  <div>
    <div class="yearproduct matchheight">
      <h2>1962</h2>
      <img src="images/yezdi-bike1.png" alt="images" />
      <h4>DELUXE</h4>
      <%= link_to "VIEW SPECS", specs_path %>
    </div>
  </div>
</div>

<!-- product story -->
<div class="container productstory-block">
  <div class="productstory clearfix">
    <div class="productstory-image"   style="background-image:url(images/story1.jpg)"></div>
    <div class="productstory-content">
      <div class="productstory-content-block">
        <h2>My Dad refused to get rid of it after all these years, now I know why.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </p>
        <a href="#" class="button">READ STORY</a>
      </div>
      <ul class="productstory-content-title">
        <li><h4>YEZDI ROADKING</h4>1982</li>
        <li><h4>RAJJ GOVINDRA</h4>CHENNAI</li>
        <li><h4>STORY #3987</h4>OF 10.000</li>
      </ul>
    </div>        
  </div>
  <div class="productstory clearfix">
    <div class="productstory-image"  style="background-image:url(images/story2.jpg)"></div>
    <div class="productstory-content">
      <div class="productstory-content-block">
        <h2>I would dust off the seat before and after every ride to keep it sweet!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </p>
        <a href="#" class="button">READ STORY</a>
      </div>
      <ul class="productstory-content-title">
        <li><h4>YEZDI ROADKING</h4>1982</li>
        <li><h4>RAJJ GOVINDRA</h4>CHENNAI</li>
        <li><h4>STORY #3987</h4>OF 10.000</li>
      </ul>
    </div>        
  </div>
  <div class="productstory clearfix"> 
    <div class="productstory-image"  style="background-image:url(images/story3.jpg)"></div>
    <div class="productstory-content">
      <div class="productstory-content-block">
        <h2>They begged me not to cut their Jawa, but I went ahead and did it.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </p>
        <a href="#" class="button">READ STORY</a>
      </div>
      <ul class="productstory-content-title">
        <li><h4>YEZDI ROADKING</h4>1982</li>
        <li><h4>RAJJ GOVINDRA</h4>CHENNAI</li>
        <li><h4>STORY #3987</h4>OF 10.000</li>
      </ul>
    </div>
  </div>
</div>

<!-- year slider -->
<div class="navslider navslider-insert">
  <div class="container">
    <div class="col-xs-8 center-block">
      <div class="navslider-js navslider-css">
        <div><div class="navslider-title">1982</div></div>
        <div><div class="navslider-title">1983</div></div>
        <div><div class="navslider-title">1984</div></div>
        <div><div class="navslider-title">1985</div></div>
        <div><div class="navslider-title">1990</div></div>
        <div><div class="navslider-title">1995</div></div>
        <div><div class="navslider-title">2007</div></div>
        <div><div class="navslider-title">2011</div></div>
      </div>
    </div>         
  </div>
</div>
<div class="bikehistory-js">
  <div>
    <div class="bikehistory"  style="background-image:url(images/museum1.jpg), url(images/museum-pattern.jpg)">
      <img src="images/museumimg.png" alt="images" class="mobileshow" />
      <div class="container flex-container">
        <div class="bikehistory-content">
          <div class="bikehistory-yearhighlight">
            <h6>MARCH</h6>
            <h2>1982</h2>
          </div>
          <h4>THE 250 IS BORN</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
           <a href="#" class="button mobilehide">EXPLORE MUSEUM <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
      <a href="#" class="button mobileshow">EXPLORE MUSEUM <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
  </div>
  <div>
    <div class="bikehistory"  style="background-image:url(images/museum1.jpg), url(images/museum-pattern.jpg)">
      <img src="images/museumimg.png" alt="images" class="mobileshow" />
      <div class="container flex-container">
        <div class="bikehistory-content">
          <div class="bikehistory-yearhighlight">
            <h6>MARCH</h6>
            <h2>1983</h2>
          </div>
          <h4>THE 250 IS BORN</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
           <a href="#" class="button mobilehide">EXPLORE MUSEUM <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
      <a href="#" class="button mobileshow">EXPLORE MUSEUM <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
  </div>
  <div>
    <div class="bikehistory"  style="background-image:url(images/museum1.jpg), url(images/museum-pattern.jpg)">
      <img src="images/museumimg.png" alt="images" class="mobileshow" />
      <div class="container flex-container">
        <div class="bikehistory-content">
          <div class="bikehistory-yearhighlight">
            <h6>MARCH</h6>
            <h2>1984</h2>
          </div>
          <h4>THE 250 IS BORN</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
           <a href="#" class="button mobilehide">EXPLORE MUSEUM <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
      <a href="#" class="button mobileshow">EXPLORE MUSEUM <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
  </div>
  <div>
    <div class="bikehistory"  style="background-image:url(images/museum1.jpg), url(images/museum-pattern.jpg)">
      <img src="images/museumimg.png" alt="images" class="mobileshow" />
      <div class="container flex-container">
        <div class="bikehistory-content">
          <div class="bikehistory-yearhighlight">
            <h6>MARCH</h6>
            <h2>1985</h2>
          </div>
          <h4>THE 250 IS BORN</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
           <a href="#" class="button mobilehide">EXPLORE MUSEUM <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div> 
      <a href="#" class="button mobileshow">EXPLORE MUSEUM <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
  </div>
  <div>
    <div class="bikehistory"  style="background-image:url(images/museum1.jpg), url(images/museum-pattern.jpg)">
      <img src="images/museumimg.png" alt="images" class="mobileshow" />
      <div class="container flex-container">
        <div class="bikehistory-content">
          <div class="bikehistory-yearhighlight">
            <h6>MARCH</h6>
            <h2>1990</h2>
          </div>
          <h4>THE 250 IS BORN</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
           <a href="#" class="button mobilehide">EXPLORE MUSEUM <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <a href="#" class="button mobileshow">EXPLORE MUSEUM <i class="fa fa-angle-right" aria-hidden="true"></i></a>
  </div>
  <div>
    <div class="bikehistory"  style="background-image:url(images/museum1.jpg), url(images/museum-pattern.jpg)">
      <img src="images/museumimg.png" alt="images" class="mobileshow" />
      <div class="container flex-container">
        <div class="bikehistory-content">
          <div class="bikehistory-yearhighlight">
            <h6>MARCH</h6>
            <h2>1995</h2>
          </div>
          <h4>THE 250 IS BORN</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
           <a href="#" class="button mobilehide">EXPLORE MUSEUM <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
      <a href="#" class="button mobileshow">EXPLORE MUSEUM <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
  </div>
  <div>
    <div class="bikehistory"  style="background-image:url(images/museum1.jpg), url(images/museum-pattern.jpg)">
      <img src="images/museumimg.png" alt="images" class="mobileshow" />
      <div class="container flex-container">
        <div class="bikehistory-content">
          <div class="bikehistory-yearhighlight">
            <h6>MARCH</h6>
            <h2>2007</h2>
          </div>
          <h4>THE 250 IS BORN</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
           <a href="#" class="button mobilehide">EXPLORE MUSEUM <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
      <a href="#" class="button mobileshow">EXPLORE MUSEUM <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
  </div>
  <div>
    <div class="bikehistory"  style="background-image:url(images/museum1.jpg), url(images/museum-pattern.jpg)">
      <img src="images/museumimg.png" alt="images" class="mobileshow" />
      <div class="container flex-container">
        <div class="bikehistory-content">
          <div class="bikehistory-yearhighlight">
            <h6>MARCH</h6>
            <h2>2011</h2>
          </div>
          <h4>THE 250 IS BORN</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
           <a href="#" class="button mobilehide">EXPLORE MUSEUM <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
      <a href="#" class="button mobileshow">EXPLORE MUSEUM <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>    